body {
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	max-width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main {
	max-width: 300px;
}

#about-window {
	display: none;
}

